html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  color: #212121;
  background-color: #fff;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
