* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  min-height: 100vh;

  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;

  background-color: #fff;
  color: #2a2a2a;

  scroll-behavior: smooth;
}

.feed {
  margin: 0;
  padding: 12px;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.feed li {
  padding: 8px;
}

.feed li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.feed li b {
  display: inline-block;
  margin-right: 8px;
}

.feed li p {
  margin-bottom: 0;
}

.editor {
  height: 60px;
}

.editor {
  display: flex;
  align-items: stretch;
  border-top: 3px solid #2a2a2a;
}

.editor input {
  padding: 12px;
  flex-grow: 1;
  font: inherit;
}

.editor button {
  padding: 12px 24px;
  font: inherit;
  cursor: pointer;
}
